@media (min-width:750px) and (max-width:1439px){
    .page-head{
    margin-bottom:156px;
}
    header .head{font-size:52px;
    line-height:62px;}
    .sub-head{font-size:24px;
    line-height:29px;}
    header{padding-bottom:234px;}
    #transfer{margin-top:35px;}
}
@media(min-width:1440px){
    .page-head{margin-bottom:156px;}
        header .head{
            font-size:52px;
            line-height:62px;
}
        header .sub-head{
            font-size:24px;
            line-height:29px;
        }
        #transfer{margin-top:35px;}
}



.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
