$main-font-stack: 'Montserrat', sans-serif;
$secondary-font-stack: 'Kaushan Script', cursive;
$additional-font-stack: 'Roboto',sans-serif;
$aqua: rgb(149,225,211);
$peach: rgb(243,129,129);
$black: rgb(51,51,51);
$grey: rgb(151,151,151);
$yellow: rgb(252,227,138);
$white:rgb(255,255,255);
$main-font-size:14px;
$main-line-height:17px;